.git
.cache/**
!.cache/rknn-toolkit2/
!.cache/rknn-toolkit2/packages/
!.cache/rknn-toolkit2/packages/*.whl

__pycache__/
*.pyc

.test*/
logs/
person_follow_runtime/
yolov8-track/

models/*.rknn
models/source/
check*_*.onnx
third_party/rknpu2/runtime/
third_party/rknpu2/packages/
third_party/followme_reference/
